div.logo-container {
        width: 34px;
        height: 34px;
        float: left;
}

div.logo {
        background-size: 22px 22px;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 22px;
        height: 22px;
        margin: auto;
        margin-top: 7px;
}

span.login-text {
        font-family: Roboto,arial,sans-serif;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: .21px;
        line-height: 36px;
        user-select: none;
}

div#g-logo {
        background-image: url("https://developers.google.com/identity/images/g-logo.png");
}
div#f-logo {
        background-image: url("/images/FB-f-Logo__blue_29.png");
}
div#a-logo {
        background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_32x32.png");
}
